<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= locals.currentUser.name %></li>
		<li><a href="/admin/dashboard">Dashboard</a></li>
		<li><a href="/admin/donations/pending">Pending Donations</a></li>
		<li><a href="/admin/donations/previous">Previous Donations</a></li>
		<li><a href="/admin/agents">Agents</a></li>
		<li><a href="/admin/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>

<!-- new code -->

<!-- <div id="sidebar" class="position-fixed top-0 bottom-0 text-white">
    <ul id="sidebar-nav" class="list-unstyled">
        <li class="py-3">Welcome <%= locals.currentUser.name %></li>
        <li><a href="/admin/dashboard" class="text-dark">Dashboard</a></li>
        <li><a href="/admin/donations/pending" class="text-dark">Pending Donations</a></li>
        <li><a href="/admin/donations/previous" class="text-dark">Previous Donations</a></li>
        <li><a href="/admin/agents" class="text-dark">Agents</a></li>
        <li><a href="/admin/profile" class="text-dark">My Profile</a></li>
        <li><a href="/auth/logout" class="btn btn-outline-dark">Logout</a></li>
    </ul>
</div> -->

